/**
 * The following styles get applied inside the editor only.
 *
 */

.wp-block-david-towoju-todo-item {
	display: flex;
	align-items: center;

	.components-base-control__field {
		margin: 0;
	}
}

.feather.feather-check-square{
  fill: none !important;
}