/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 */


.wp-block-david-towoju-todo-item {
	display: flex;
	align-items: center;
	margin: 0 !important;

	.components-base-control__field {
		margin: 0;
	}

	input {
		margin-right: 8px;
	}
}


.wp-block-david-towoju-todo-item-wrapper {
	display: flex;
  align-items: center;

  .wp-block-david-towoju-todo-input{
    margin-right: 8px;
  }
}
